* {
  margin:0;
  padding:0;
}
body, select, textarea {
	font-family: 'Open Sans', sans-serif;
}
label,input,textarea,select {
  font-size:1em;
}
select {
	width: 300px ! important;
}
textarea {
	width: 273px ! important;
}
h1 {
	color: #1F3050;
	border-bottom: 1px solid #e5e5e5;
}
a {
	color: #5cb85c;
	text-decoration: none;
}
a:hover {
	color: #1F3050;
}
#menu a {
	margin-right: 10px;
}
#menu a:first-child {
	margin-right: 0;
}
#menu {
	width: 100%;
}
.bootstrap-select {
    width: 21em ! important;
}
.bootstrap-select .dropdown-menu {
    overflow-x: hidden;
}
.bootstrap-select .bs-searchbox .form-control {
    width: 100% ! important;
}
#forms {
  width:49%;
  padding:10px;
  float:left;
}
input.form-control {
	padding-top: 0 ! important;
    padding-bottom: 0 ! important;
    display: inline; /* to make upload link appear next to input field */
}
#newbutton, #gotomap, #help, #resetbutton, #loginbutton{
	float: right;
}
label {
	font-weight: normal ! important;
	line-height: 30px;
	margin-bottom: 0 ! important;
}

#forms fieldset {
  padding:10px;
  margin-bottom:10px;
  border-radius: 5px;
  border-color: #1F3050;
  border-width: 1px;
}
#forms .row label,
#forms .row > p:first-child,
#forms .row > input:first-child {
  display:block;
  float:left;
  min-width:12em;
  text-align:right;
  margin-right:10px;
}
#forms .row label:first-child {
  margin-top:5px;
}

#forms .row label:after {
  content:":";
}

#forms .row#deleted {
  color:red;
  text-align:center;
  margin-top: 1em;
  display:none;
}

#forms .row > * {
  margin-bottom :0.5em;
}

#forms #freetags p {
  float:left;
}
#forms #freetags button#plus {
  margin-top:-0.5em;
  margin-left: 0.5em;
}
#forms #freetags .row {
	clear: both;
}
#save {
	float: right;
	margin-top: -16px;
}
fieldset.no-padding {
	padding-left: 0 ! important;
    padding-right: 0 ! important;
}
#forms .row input,
#forms .row * + textarea {
  width:15em;
}
#forms .row #_key_osm {
  width:23em;
}
#forms .row #_id {
  width:18em;
  text-align:center;
}

#forms #languageSelector {
/*  height: 34px; */
  width:fit-content;
  max-width:17em; /* for firefox which does calculate fit-content wrong */
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#forms #languageSelector:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

#languageSelector ul {
  float:right;
}
#languageSelector ul li {
  padding-left:5px;
  display:none;
}
#languageSelector ul li.default {
  display:block;
}
#languageSelector ul.open li {
  display:block;
  background-color: #fff;
  padding-bottom:3px;
}
#languageSelector ul.open li.default,
#languageSelector ul.open li:hover {
  color: #333;
  background-color: #e6e6e6;
}

#map {
  width: 49%;
  height: 100vh;
  border:1px solid #e5e5e5;
  position: fixed;
  top: 0;
  right: 0;
}

@media only screen and (max-device-width: 640px) {
   #forms {
     width: 94%;
     padding: 3%;
   }
   #map {
     width: 100%;
     height: 85vh;
     border: none;
   }
   #menu a {
     margin-right: 5px;
   }
   textarea, select {
     width: 90% ! important;
   }
   #forkme {
     font-size: 13px;
   }
   #map {
     position: static;
   }
   #save {
   }
   #forms .row label {
     text-align: left;
     margin-bottom: 0;
   }
   h1 {
    font-size: 28px;
   }
   legend {
     margin-bottom: 10px ! important;
   }
   #forms #freetags .row > p:first-child {
     min-width: auto ! important;
   }
   #forms #freetags input {
     min-width: 36% ! important;
     width: 36% ! important;
   }
   .leaflet-bottom {
     max-width: 80%;
   }
}
