.mediaFile{
  padding: 20px;
}

.mediaOption{
  margin-right: 20px;
  float: right;
  cursor: pointer;
}

.mediaThumb{
  width: 80px;
  float: left;
  margin: 0px 20px;
}

#mediaUpload{
  width: 80px;
  float: left;
  margin: 0px 20px;
}

.mediaInfo{
  margin-left: 120px;
}

.mediaVersions{
  margin: 0 10px;
  padding: 0 30px;
  font-size: 12px;
}

.mediaFormItem{
  border: none;
  box-shadow: none;
  margin-bottom: 10px;
}

#mediaFileDialog{
  display:none;
  width: 100%;
  height: 100%;
}

#mediaFileDialogContent{
  background-color: #fff;
  width: 400px;
  margin: 10% auto;
  padding: 20px;
}

.hint{
  color: #CCC;
  font-size: 12px;
  font-style: italic;
}
