* {
  margin:0;
  padding:0;
}
body, select {
	font-family: 'Open Sans', sans-serif;
}
label,input,textarea,select {
  font-size:1em;
}
h1 {
	color: #1F3050;
	border-bottom: 1px solid #e5e5e5;
}
a {
	text-decoration: none;
}
#menu a {
	margin-right: 10px;
}
#menu {
	margin-bottom: 10px;
}
#forms {
  width:49%;
  padding:10px;
  float:left;
}
#forkme, #gotomap, #help, #resetbutton {
	float: right;
}
select {
	width: auto ! important;
}
label {
	font-weight: normal ! important;
	line-height: 30px;
}

#forms fieldset {
  padding:10px;
  margin-bottom:10px;
  border-radius: 5px;
  border-color: #1F3050;
  border-width: 1px;
}
#forms .row label,
#forms .row > p:first-child,
#forms .row > input:first-child {
  display:block;
  float:left;
  min-width:15em;
  text-align:right;
  margin-right:10px;
}
#forms .row label:first-child {
  margin-top:5px;
}

#forms .row label:after {
  content:":";
}

#forms .row#deleted {
  color:red;
  text-align:center;
  margin-top: 1em;
  display:none;
}

#forms .row > * {
  margin-bottom :0.5em;
}

#forms #freetags p {
  float:left;
}
#forms #freetags button#plus {
  margin-top:-0.5em;
  margin-left: 0.5em;
}
#forms #freetags .row {
	clear: both;
}
#save {
	float: right;
}

#forms .row input,
#forms .row * + textarea {
  width:15em;
}
#forms .row #_id {
  width:18em;
  text-align:center;
}

#map {
  width: 49%;
  height: 90vh;
  border:1px solid #e5e5e5;
  position: fixed;
  top: 0;
  right: 0;
}

@media only screen and (max-device-width: 768px) and (orientation : portrait) {
    #forms, #map {
     width: 100%;
   }
   #save {
     margin-right: 20px;
   }
}