doctype html
html(lang='en')
  head
    title TransforMap Editor
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    meta(name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi")
    script(src='/vendor.js')
    script(src='/app.js')
    script require('initialize')
    link(rel='stylesheet', href="/app.css")
    link(rel='stylesheet', href="/vendor.css")
  body
    #forms
      form
        fieldset
          .row#id
            label(for='_id') Object ID
            input(type='text' id='_id' disabled='true')
            button(type='button' id='save') Save
        fieldset
          .row#name
            label(for='_key_name') Name
            input(type='text' id='_key_name')
          .row#toi
            label(for='_key_type_of_initiative') Type of Initiative
            input(type='text' id='_key_type_of_initiative')
            //fixme should be a multi-select populated from the taxonomy, possible with search
          .row
            label(for='_key_SSEDAS_PARTNER') SUSY Partner
            select(id='_key_SSEDAS_PARTNER' name='SSEDAS_PARTNER' required)
              option(value='') Choose Partner
              option(value='Suedwind') Südwind
              option(value='FTH') Fair Trade Hellas
              option(value='RHSF') Ressources Humaines Sans Frontières
              option(value='BILS') BILSP
        fieldset#address
          legend Address
          .row
            label(for='_key_addr:country') Country
            input(type='text' id='_key_addr:country')
          .row
            label(for='_key_addr:city') City
            input(type='text' id='_key_addr:city')
          .row
            label(for='_key_addr:postcode') Postcode
            input(type='text' id='_key_addr:postcode')
          .row
            label(for='_key_addr:street') Street Name
            input(type='text' id='_key_addr:street')
          .row
            label(for='_key_addr:housenumber') House Number
            input(type='text' id='_key_addr:housenumber')
          //fixme add support for addr:housename and addr:place
          .row(style='margin-top:1em')
            label(for='_geometry_lon' title='X, WGS84, decimal degree') Longitude
            input(type='text' id='_geometry_lon')
          .row
            label(for='_geometry_lat' title='Y, WGS84, decimal degree') Latitude
            input(type='text' id='_geometry_lat')
            //TODO add reset coords button
        fieldset
          legend Contact Data
          .row
            label(for='_key_contact:website') Website
            input(type='text' id='_key_contact:website')
          .row
            label(for='_key_contact:email') Email Address
            input(type='text' id='_key_contact:email')
          .row
            label(for='_key_contact:phone') Phone Number
            input(type='text' id='_key_contact:phone')
          .row
            label(for='_key_opening_hours') Opening Hours
            input(type='text' id='_key_opening_hours')
          
          //fixme allow more than one field for each type
        fieldset
          legend Additional Information
          .row
            label(for='_key_image') Link to image
            input(type='text' id='_key_image')
          .row
            label(for='_key_video') Link to video
            input(type='text' id='_key_video')
          .row
            label(for='_key_description') Description text
            textarea(id='_key_description' rows='4')
          //fixme different langs for description
        fieldset#freetags
          legend Free Tags
          //fixme must add additional fields when user fills one
          .row.header
            p Key
            p Value
          .row
            input(type='text' id='key1' name='freetags')
            input(type='text' id='value1' name='freetags')

            
    #map
