doctype html
html(lang='en')
  head
    title TransforMap Editor
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    meta(name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi")
    script(src='vendor.js')
    script(src='app.js')
    script require('initialize')
    script(defer='defer' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js')
    script.
      if(! Modernizr.promises) {
        document.write('<script src="https://www.promisejs.org/polyfills/promise-7.0.4.min.js"></sc' + 'ript>')
        document.write('<script src="bower_components/fetch/fetch.js"></sc' + 'ript>')
      }
    link(href='//fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href="app.css")
    link(rel='stylesheet', href="vendor.css")
  body
    #forms
      h1 TransforMap Editor
      form
        fieldset.no-padding
          .row#menu
            a(href='http://viewer.transformap.co/editable.html?background=mapnik#5/50.458/10.261' class='btn btn-default' id='gotomap' target='_blank') → Go to Map
            a(href='https://github.com/TransforMap/transformap-editor/blob/master/HELP.md' class='btn btn-default' id='help' target='_blank') Help
            a(href='.' id='newbutton' title='Create a new POI' class='btn btn-success') New
            a(href='' id='resetbutton' class='btn btn-danger') Reset
        fieldset#address
          legend Name and address
          .row#name
            label(for='_key_name') Name
            input(type='text' id='_key_name' class='form-control')
          .row
            label(for='_key_addr:country') Country
            input(type='text' id='_key_addr:country' class='form-control')
          .row
            label(for='_key_addr:city') City
            input(type='text' id='_key_addr:city' class='form-control')
          .row
            label(for='_key_addr:postcode') Postcode
            input(type='text' id='_key_addr:postcode' class='form-control')
          .row
            label(for='_key_addr:street') Street Name
            input(type='text' id='_key_addr:street' class='form-control')
          .row
            label(for='_key_addr:housenumber') House Number
            input(type='text' id='_key_addr:housenumber' class='form-control')
          //fixme add support for addr:housename and addr:place
          .row(style='margin-top:1em')
            label Search for Coordinates from Address
            button(type='button' id='coordsearch' class='btn btn-success') Go!
            Search using OpenStreetMap
          .row(style='margin-top:1em')
            label(for='_geometry_lon' title='X, WGS84, decimal degree') Longitude
            input(type='text' id='_geometry_lon' class='form-control')
          .row
            label(for='_geometry_lat' title='Y, WGS84, decimal degree') Latitude
            input(type='text' id='_geometry_lat' class='form-control')
            //TODO add reset coords button
        fieldset
          legend Description
          .row
            label(for='_key_description') Description text
            textarea(id='_key_description' rows='6' class='form-control')
            //fixme different langs for description
          .row#toi
            label(for='_key_type_of_initiative') Type of Initiative
            select(id='_key_type_of_initiative' multiple size='5' class='form-control')
              option(value='') == Choose at least one type of initiative ==
          .row
            label(for='_key_identity') Identity
            select(id='_key_identity' name='Needs' multiple size='5' class='form-control')
              option(value='') == Choose An Identity ==
              option(value='collaborative_economy') Collaborative Economy
              option(value='commons') Commons 
              option(value='community_based_currencies') Community Based Currencies
              option(value='demonetized_economy') Demonetized Economy
              option(value='degrowth') Degrowth
              option(value='economy_for_the_common_good') Economy for the Common Good
              option(value='global_ecovillage_network') Global Ecovillage Network
              option(value='permaculture') Permaculture
              option(value='solidarity_economy') Solidarity Economy
              option(value='transition_initiative') Transition Initiative
        fieldset
          legend Contact Data
          .row
            label(for='_key_contact:website') Website
            input(type='text' id='_key_contact:website' class='form-control')
          .row
            label(for='_key_contact:email') Email Address
            input(type='text' id='_key_contact:email' class='form-control')
          .row
            label(for='_key_contact:phone') Phone Number
            input(type='text' id='_key_contact:phone' class='form-control')
          .row
            label(for='_key_opening_hours') Opening Hours
            input(type='text' id='_key_opening_hours' class='form-control')
          
          //fixme allow more than one field for each type
        fieldset
          legend Additional Information
          .row
            label(for='_key_image') Link to image
            input(type='text' id='_key_image' class='form-control')
            span &nbsp;Upload&nbsp;
            a(href='https://base.transformap.co/wiki/Special:Upload' target='_blank') here
            span .
          .row
            label(for='_key_video') Link to video
            input(type='text' id='_key_video' class='form-control')
        fieldset#freetags
          legend Free Tags
          //fixme must add additional fields when user fills one
          .row.header
            p Key
            p Value
            button(type='button' id='plus' class='btn btn-success') Add
          .row
            input(type='text' id='key1' name='freetags' class='form-control')
            input(type='text' id='value1' name='freetags' class='form-control')
        fieldset
          legend Object information
          .row#id
            label(for='_id') Object ID
            input(type='text' id='_id' disabled='true' class='form-control')
            .row#deleted {{{ This object is in 'deleted' state. To undelete, click 'Save' }}}
          
      button(type='button' id='delete' class='btn btn-danger btn-sm') Delete POI
      button(type='button' id='save' class='btn btn-success btn-lg') Save
      a(href="https://github.com/TransforMap/transformap-editor/" target="_blank" id="forkme") Fork me on Github!
            
    #map
