doctype html
html(lang='en')
  head
    title TransforMap Editor
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    meta(name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi")
    script(src='vendor.js')
    script(src='app.js')
    script require('initialize')
    script(defer='defer' src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js')
    script(defer='defer' src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
    script(defer='defer' src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js')
    script.
      if(! Modernizr.promises) {
        document.write('<script src="https://www.promisejs.org/polyfills/promise-7.0.4.min.js"></sc' + 'ript>')
        document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.2/fetch.min.js"></sc' + 'ript>')
      }
    link(href='//fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css")
    link(rel='stylesheet', href="app.css")
    link(rel='stylesheet', href="vendor.css")
  body
    #forms
      h1 TransforMap Editor
      form
        fieldset.no-padding
          .row#menu
            a(href='#' id='loginbutton' class='btn btn-default') Login
            a(href='http://viewer.transformap.co/editable.html?background=mapnik#5/50.458/10.261' class='btn btn-default' id='gotomap' target='_blank') → Go to Map
            a(href='https://github.com/TransforMap/transformap-editor/blob/master/HELP.md' class='btn btn-default' id='help' target='_blank') Help
            a(href='.' id='newbutton' title='Create a new POI' class='btn btn-success') New
            a(href='' id='resetbutton' class='btn btn-danger') Reset        
        fieldset#address
          legend Name and address
          .row#name
            label(for='_key_name') Name
            input(type='text' id='_key_name' class='form-control')
          .row
            label(for='_key_addr:country') Country
            input(type='text' id='_key_addr:country' class='form-control')
          .row
            label(for='_key_addr:city') City
            input(type='text' id='_key_addr:city' class='form-control')
          .row
            label(for='_key_addr:postcode') Postcode
            input(type='text' id='_key_addr:postcode' class='form-control')
          .row
            label(for='_key_addr:street') Street Name
            input(type='text' id='_key_addr:street' class='form-control')
          .row
            label(for='_key_addr:housenumber') House Number
            input(type='text' id='_key_addr:housenumber' class='form-control')
          //fixme add support for addr:housename and addr:place
          .row(style='margin-top:1em')
            label Search for Coordinates from Address
            button(type='button' id='coordsearch' class='btn btn-success') Go!
            Search using OpenStreetMap
          .row(style='margin-top:1em')
            label(for='_geometry_lon' title='X, WGS84, decimal degree') Longitude
            input(type='text' id='_geometry_lon' class='form-control')
          .row
            label(for='_geometry_lat' title='Y, WGS84, decimal degree') Latitude
            input(type='text' id='_geometry_lat' class='form-control')
            //TODO add reset coords button
        fieldset
          legend Description
          .row
            label(for='_key_description') Description text
            textarea(id='_key_description' rows='6' class='form-control')
            //fixme different langs for description
          .row#toi
            label(for='_key_type_of_initiative') Type of Initiative
            select(id='_key_type_of_initiative' multiple size='5' class='selectpicker show-tick' data-live-search='true')
              option(value='') == Choose at least one type of initiative ==
        fieldset
          legend TransforMap Taxonomy
          .row
            label(for='_key_provides') Fulfils Needs
            select(id='_key_provides' name='Needs' multiple size='5' class='selectpicker show-tick' data-live-search='true')
              option(value='') == Choose all Needs fulfilled ==
          .row
            label(for='_key_interaction') Interaction
            select(id='_key_interaction' name='Interaction' multiple size='5' class='selectpicker show-tick' data-live-search='true')
              option(value='') == Choose any Interactions ==
          .row
            label(for='_key_identity') Identity
            select(id='_key_identity' name='Identity' multiple size='5' class='selectpicker show-tick' data-live-search='true')
              option(value='') == Choose An Identity ==
        fieldset
          legend Contact Data
          .row
            label(for='_key_contact:website') Website
            input(type='text' id='_key_contact:website' class='form-control')
          .row
            label(for='_key_contact:email') Email Address
            input(type='text' id='_key_contact:email' class='form-control')
          .row
            label(for='_key_contact:phone') Phone Number
            input(type='text' id='_key_contact:phone' class='form-control')
          .row
            label(for='_key_opening_hours') Opening Hours
            input(type='text' id='_key_opening_hours' class='form-control')

          //fixme allow more than one field for each type
        fieldset
          legend(class='relatedMediaTitle') Related media files
          .row.header(style='text-align:right')
            p Add new media file
            button(type='button' id='newmedia' class='btn btn-success' data-toggle='modal' data-target='#mediaFileDialog') Add
          .row#media
        fieldset#freetags
          legend Free Tags
          //fixme must add additional fields when user fills one
          .row.header
            p Key
            p Value
            button(type='button' id='plus' class='btn btn-success') Add
          .row
            input(type='text' id='key1' name='freetags' class='form-control')
            input(type='text' id='value1' name='freetags' class='form-control')
        fieldset
          legend Object information
          .row#osm
            label(for='_key_osm') Link to OSM object
            input(type='text' id='_key_osm' class='form-control')
            span &nbsp;
            a(id='osmlink' target='_blank') OSM
          .row#id
            label(for='_id') Object ID
            input(type='text' id='_id' disabled='true' class='form-control')
            span &nbsp;
            a(id='transformapapilink' target='_blank') JSON
            .row#deleted {{{ This object is in 'deleted' state. To undelete, click 'Save' }}}

      button(type='button' id='delete' class='btn btn-danger btn-sm') Delete POI
      button(type='button' id='save' class='btn btn-success btn-lg') Save
      a(href="https://github.com/TransforMap/transformap-editor/" target="_blank" id="forkme") Fork me on Github!

    #map
    .modal.fade#mediaFileDialog(role='dialog')
      #mediaFileDialogContent
        input(style="display:none" type='text' class='form-control mediaId')
        input(style="display:none" type='text' class='form-control metadata')
        input(style="display:none" type='text' class='form-control poi')
        input(style="display:none" type='text' class='form-control createOrUpdate')
        .row.mediaFile
          img(class='mediaThumb')
          input(type='file' id='mediaThumbUpload')
          .row.mediaInfo
            input(type='text' class='name form-control mediaFormItem' placeholder='Name')
            input(type='text' class='description form-control mediaFormItem' placeholder='Description')
        .row
          legend Version history
          p.hint You can roll back to a different version by clinking on 'Activate'
          .row.mediaVersions
        hr
        button(type='button' id='mediacancel' class='btn') Cancel
        button(type='button' id='mediasave' class='btn btn-success') Save
